body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#gridContainer  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 0px;
    margin: 0px;
    width: 800px;
    height: 800px;
    box-shadow: 2px 2px 15px 3px #555;
}

.gridSquare {
    display: flex;
    flex-shrink: 1;
    flex-basis: auto;
    background: white;
    box-shadow: inset 1px 1px 1px 1px #666;
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
}

.buttonsArea {
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 90px;
    background-color: white;
}

button:hover {
    box-shadow: 1px 2px 15px 3px #999;
}

#squaresChoice {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    margin: 5px;
}

