body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background:rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#gridContainer  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px;
    margin: 20px;
    width: 800px;
    height: 800px;
    box-shadow: 10px 15px 25px 7px #888, -10px -10px 35px 3px rgb(199, 199, 199);
}

.gridSquare {
    display: flex;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
}

.buttonsArea {
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 95px;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    box-shadow: inset 1px 1px 2px 1px #999, inset 1px 1px 5px 1px rgb(112, 112, 112);
}

#squaresChoice {
    width: 65px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    margin: 5px;
}

button#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 50px;
    width: 100px;
    height: 30px;
}
